
  body  {
    background-color: #d2f5e3;

  }

  hr  {
    background-color: #d2f5e3;
    border-style: none;
    height: 2px;
    width: 100%;
    border-top: 4px dotted #8c8b8b;

  }





  img  {
    height: 150px;

  }


  h1  {
    color: #373a40;
  }

  h2  {
    color: #373a40;
  }

  h3  {
    color: #373a40;
  }

  h4  {
    color: #373a40;
  }

  h5  {
    color: #373a40;
  }

  h6  {
    color: #373a40;
  }
